
*,
*::afer,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}

body {
  font-family: var(--text-family);
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100vh;
  margin:0;
}
label{
  display:block;
}