.imgLogin {
  background-image: url("https://res.cloudinary.com/fersan/image/upload/v1649631949/dmnk05ygblizs4ojcftw.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.2rem;

}
