.soggy {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 1rem;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  &__container{
    overflow: hidden;
    width:10rem;
    position:relative;
  }
  &__current {
    position:relative;
    color: #fff;
    display: inline-block;
    position:relative;
    height:3rem;
    cursor: pointer;
    &-active {
      color: var(--color-fourth);
    }
    & span {
      margin-left: .9rem;
    }
  }
  &__buttonArrow{
    width:1.5rem;
    height:1.5rem;
    position:absolute;
    top:0;
    left:calc(50% - 6.5rem);
    cursor:pointer;
    &__img{
      text-align: center;
      margin-top: calc(100% - 1.3rem);
      & svg{
        width:.9rem;
        fill:#fff;
      }
    }
  }
  &__right-arrow{
    left:calc(50% - -5.5rem);
    
  }
  &__buttonArrow-right{
    transform-origin:center;
    transform:rotate(.5turn);
    
  }
}
