.card {
  width: 32rem;
  height: 35rem;
  padding: 0.5rem;
  margin: 0px 1rem;
  transition: transform 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
  &__container {
    overflow-x: hidden;
    height:100%;
    padding:0rem 6rem;
    z-index:400;
    &__slider {
      width: calc(33rem * 20);
      display: flex;
      margin-left:0rem;
    }
  }
  &__name {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--text-family);
    margin-bottom: 0.5rem;
  }
  &__created,
  &__characters,
  &__date {
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
    display: block;
    text-transform: capitalize;
    
  }
  &__characters_text{
    color:var(--color-primary);
    margin-top: .5rem;
    
  }
}
