.card{
    min-width:40rem;
    height:45rem;
    backdrop-filter:blur(3rem);
    border-radius: .5rem;
    display:grid;
    grid-template-rows: 5rem repeat(3,1fr);
    color:#fff;
    padding:2rem 5rem;
    text-transform: capitalize;
    &__login_text{
        align-self: center;
        text-align:center;
        font-size:3rem;
        font-weight: 300;
    }
    &__login{
        width:100%;
        font-size:2rem;
        height:4rem;
        background-color:transparent;
        border:none;
        border-bottom:.1rem #fff solid;
        color:#fff; 
    }
    &__login:focus{
        outline:none;
    }
   
}